.input_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  padding: 40px 50px;            
  max-width: 500px;               
  background-color: #e0e0e0;      
  border-radius: 12px;            
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}



input{
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    border-style: none;
    background-color:#363636;
    font-size: 1rem;
    box-sizing: border-box;
    color: #FFF;
    
}

button{
    padding: 14px;
    width: 80%;
    border-radius: 12px;
    border-style: none;
    background-color:rgba(236, 77, 14, 0.89);
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    transition: 0.9s;
    cursor: pointer;
    margin-top:10px;
    
}

button:hover{
    font-size: 1.8rem;
}